<header>
  <form>
    <div class="form-control2">
      <label for="text"><strong>Task</strong></label>
      <input type="text" name="text" id="querry" #querry />
    </div>
  </form>
  <div class="form-control2"></div>

  <div class="header2">
    <app-search-button color="blue" text="search" (btnClick)="searchQuerry(querry.value)">
    </app-search-button>

    <app-button
      color="{{ showAddTask ? 'red' : 'blue' }}"
      text="{{ showAddTask ? 'Close' : 'Add' }}"
      (btnClick)="toggleAddTask()"
    ></app-button>
  </div>
</header>
