<div class="task">
  <h3>
    <div class="maxxColumn">
      <p><u>Task Detail</u></p>
    </div>
    <div class="time">
      <p><u>Date From</u></p>
      <fa-icon
        style="font-size: 20px"
        [ngStyle]="{ color: 'white' }"
        [icon]="faOrientation"
        (click)="SortFrom()"
      ></fa-icon>
    </div>
    <div class="time">
      <p><u>Date To</u></p>
      <fa-icon
        style="font-size: 20px"
        [ngStyle]="{ color: 'white' }"
        [icon]="faOrientation2"
        (click)="SortTo()"
      ></fa-icon>
    </div>
    <div class="header3">
      <p><u>Action</u></p>
    </div>
  </h3>
</div>
